/*My CSS stylesheet for creating the same style for all html pages.
*/

*{
    margin:0;
    padding:0;
}
.main-name{
    font-family:Papyrus, sans-serif;
    font-size:68px;
    font-weight: bolder;
    padding:2%;
    margin-left:3%;
}

.mlogo{
    width: 300px;
    height: 250px;
    margin-left:15px;
    display:grid;
}

.main-logo{
    float:left;
    width: 200px;
    height: 200px;
    border:solid black;
    border-width: thin;
    border-radius:50%; 
    
}

.mtheme{
    width: 300px;
    height: 250px;
    margin-left:15px;
    display:inline;
}

.main-theme
{
    text-align:center;
    font-size:28px;
    font-family:Papyrus, Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    margin: 10px;
 
    font-weight: bolder;
} 
.main-lang{
    
    border-width: medium;
    border: 2px solid rgb(77,25,51);
}
body
{
    background-color: rgb(147,112,219);
}


